extends ../layouts/project

block projectBody
	section
		.grid
			.col6.sm-col8.ss-col12
				p.text To reinforce the idea of the Ouverture fashion brand, the pitch deck—much like the webshop—was inspired by fashion magasines. The use of images is prevalent in the design, and were used almost as a separate element, to emphasise the brand Aglaia was building for Ouverture.

	section
		.grid.g--wrap
			.col6.sm-col8.ss-col12.sm-mb30
				.bleed-left--2.mb20
					img(src="https://cdn.buttercms.com/a3cHbtRbOIWKPwuXM9AA")

				p.text Though being a business-to-consumer startup, our goal with the pitch deck was not to sell the product or business. We wanted to sell who we was and what we stand for.

			.col6.sm-col8.ss-col12
				.bleed-right--2.mb20
					img(src="https://cdn.buttercms.com/9Xs3GODGTh6d15xMoUBI")

				p.text And what we stood for, was that in order to break through the market, we had to be innovative not only in the products and designs we made, but in the manner by which we communicated, marketed, and sold our prouduct.

	section
		.grid.g--j-center.g--wrap
			.col7.ss-col12.mb60.sm-mb20
				blockquote
					h2 People don't buy what you do, they buy why you do it.
				p.text.text--right &mdash; Simon Sinek

			.col7.ss-col12.mb60.sm-mb20
				p.text This quote by Simon Sinek sums up the mantra by which Aglaia conducted its business. We looked not for the ones who could necessarily get us to our goal, or the ones with the largest bag of money, but the ones whose ideals ligned up with our own.

		.grid.g--wrap
			.col6.sm-col8.ss-col12.sm-mb20
				.bleed-left--2
					img(src="https://cdn.buttercms.com/UrtQXfn0R3eiEpak5P09")

			.col6.sm-col8.ss-col12.mb60.sm-mb20
				.bleed-right--2
					img(src="https://cdn.buttercms.com/0cYMJVMR5uIR22kWs06Q")

		.grid.g--j-center.g--wrap
			.col7.ss-col12
				p.text Because when push comes to shove, it doesn't matter who has the highest sum of money, but who will stick around for the fight.

	section.text--center
		h2: a(href="/contact", title="Get in touch") Get in touch
