extends ../layouts/project

block projectBody
	section
		.grid.g--wrap
			.col6.sm-col8.ss-col12
				.bleed-left--2.sm-mb20
					img(src="https://cdn.buttercms.com/hWJEcecCS5CkVdThe6z3")
			.col6.sm-col8.ss-col12.mt60.sm-mt0
				p.text It actually started a long time ago. Kelly approached me and asked me to design his website. When the project finally took off, though. I got to design their identity, business cards and website.
				
	//- Image grid
	section
		.grid.g--wrap.sm-g--row-reverse
			.col6.sm-col8.ss-col12
				.bleed-left--2.sm-mb20
					img(src="https://cdn.buttercms.com/vwpn5eHQTqLGRlBxfBGt")
			
			.col6.sm-col8.ss-col12
				.bleed-right--2
					img(src="https://cdn.buttercms.com/FCfnOpy8RBWPDxbM9agT")
						
	//- Mom and pop shop
	section
		.grid.g--wrap.ss-g--col-reverse
			.col4.sm-col5.ss-col12.ss-mt20
				img(src="https://cdn.buttercms.com/4iujSjLoS3O4PvRzr5OR")
						
			.col6.sm-col7.ss-col12.mt60.ss-mt0
				h3 Mom and pop shop
				p.text Parents of three, and heroically involved in more projects than I bother to count, Kelly and Birte work to help entrepreneurs thrive.
				
	//- In writing
	section
		.grid.g--wrap
			.col6.sm-col7.ss-col12.mt60.ss-mt0
				h3 In writing
				p.text As a means to promote his writing, Kelly wanted his #[a(href="//medium.com/@kellymoulton", target="_blank") Medium articles] displayed on the site. With a simple layout, and an even simpler RSS parser (and a bit of magic), Dennis and I made it happen.
				
			.col4.sm-col5.ss-col12.ss-mt20
				img(src="https://cdn.buttercms.com/xENKAdYxSa6sYEaAoLad")
