extends ../layouts/project

block projectBody
	section
		.grid.g--wrap.g--j-center
			.col7.ss-col12
				h1.title--big The current state
				p.text Identity design, for me, is a pracitce of communicating value. And not value in terms of what you offer, but what the company whose logo is regarded, stand for. Their core values.

	section
		.grid.g--wrap
			.col12
				img(src="https://cdn.buttercms.com/3sPuKrqBRb6N6TnoqYiR").mb20

			.col7.ss-col12
				p.text The current logo, consists of a rectangle, three hexagons inside that rectangle, a square to the right of those hexagons and “Mediekuben” below the rectangle. What the logo communicates is the shape of the office building in which the incubator is located, and its ties to the other incubators powered by Bergen Teknologioverføring.

	section
		.grid.g--wrap.g--j-center
			.col7.ss-col12
				h1.title--big A new take

				p.text I wanted to look at how the values of Mediekuben could be communicated through a simple identity, and be inviting for forward facing startups.

	section
		.col12
			.bleed-left--2.bleed-right--2
				img(src="https://cdn.buttercms.com/wWbhXa8DSMimEmQDNpdw")

		section
			.grid.g--wrap.g--a-center.g--row-reverse
				.col8.ss-col12
					.bleed-right--2.sm-mb20
						img(src="https://cdn.buttercms.com/3p6ajkdSMGah5bsjga4w")

				.col4.sm-col8.ss-col12
					.bleed-left--2
						p.text The logo starts out with a cube visualised in three dimensions. It’s seethrough, implying openness, transparency and inclusion. Its three-dimensionality brings interest to an otherwise bland shape.

		section
			.grid.g--wrap
				.col12
					.bleed-right--2.mb20
						img(src="https://cdn.buttercms.com/gbU984YSQjihDg1Va6zd")

				.col6.sm-col8.ss-col12
					p.text Deconstructed, the cube’s faces form interesting shapes that can be used to pull focus and create visual interest.

		section
			.grid.g--wrap
				.col8.ss-col12
					.bleed-left--2.sm-mb20
						img(src="https://cdn.buttercms.com/NRyV6UAZS2aQ88H1GZaT")

				.col4.sm-col8.ss-col12.mt60.sm-mt0
					.bleed-right--2
						p.text The colors play on the incubators connection to the media industry. With the use of custom red, green and blue colors that can be blended and combined innumerable ways, the implication of digitality and modernity is clear.

		section
			h3.text--center: a(href="/contact", title="Get in touch") Get in touch
