extends ../layouts/project

block projectBody
  //- Effective conversion
  section
    .grid.g--wrap.sm-g--col-reverse.mb60.sm-mb30
      .col6.sm-col8.ss-col12.mt60.sm-mt20
        h3 Effective conversion
        p.text A captivating landing page that displays the key value propositions gives users incentives to sign up. Additionally, using copywriting effectively to reflect the company’s personality gives the user an immediate relationship to the company.
      
      .col6.sm-col8.ss-col12
        .ss-mb20.bleed-right--2
          img(src="https://cdn.buttercms.com/up3c411zROmU3gwO1Wzy")
    
    //- Onboarding
    .grid.g--wrap
      .col6.sm-col8.ss-col12.sm-mb30
        .bleed-left--2.mb20
          img(src="https://cdn.buttercms.com/d5R5N5w9ROOIAZ1KJw2m")
        
        p.text With a simple onboarding that takes the user through the process step by step, lets the user focus on the task at hand.
      
      .col6.sm-col8.ss-col12
        .bleed-right--2.mb20
          img(src="https://cdn.buttercms.com/nxNAHYxOQVeAOrNkaJrJ")
          
        p.text For Monkybox to effectively serve movie suggestions based on taste, the user is prompted to select movie genres she likes.
        
        
  //- Explore movies
  section
    .grid.g--wrap.mb30
      .col6.sm-col8.ss-col12
        .bleed-left--2
          img(src="https://cdn.buttercms.com/2GThHMG3Qq2IYR5WP0hw")
          
      .col6.sm-col8.ss-col12.mt60.sm-mt20
        h3 Explore movies
        p.text A simple layout promotes ease of use and a good overview of what’s new, which movies are recommended for a user’s taste and other goodies.
        
  //- Many a litte…
  section
    .grid.g--wrap.mb30
      .col6.sm-col8.ss-col12.mt60.sm-mt20
        h3 Many a little&hellip;
        p.text &hellip;Makes a mickle. Which is true for a lot of things in life. In design, the small details makes a user experience worth remembering.
        
      .col6.sm-col8.ss-col12
        .bleed-right--2
          img(src="https://cdn.buttercms.com/1bSE9ICdTe20tIYo8ly5")
          
  //- Dive deeper
  section
    .grid.g--wrap.mb30
      .col6.sm-col8.ss-col12
        .bleed-left--2
          img(src="https://cdn.buttercms.com/0WNE8GcLSJ5nmLwCKwqr")
          
      .col6.sm-col8.ss-col12.mt60.sm-mt20
        h3 Dive deeper
        p.text A details page gives the user more information about a given movie. Here, the user can read a synopsis, see the trailer, the cast and explore other relevant movies.
        
    //- Cast/crew member
    .grid.g--wrap.mb30
      .col6.sm-col8.ss-col12
        .bleed-left--2
          img(src="https://cdn.buttercms.com/BTmo8zOiToWYTaSjvDav")
          
      .col6.sm-col8.ss-col12.mt60.sm-mt20
        p.text Keeping up with a cast or crew member is a big part of Monkybox. By following a cast or crew member, the user gets notified if the given cast or crew member is involved in a new production.
        
  //- Rest your eyes
  section
    .grid.g--wrap.mb30
      .col6.sm-col8.ss-col12.mt60.sm-mt20
        h3 Rest your eyes
        p.text To allow the user to use Monkybox in a dark environment, Monkybox integrates a dark mode. If used at the evening, the warm and dark UI allows a user’s body to produce melatonin, a hormone critical to sleep.
        
      .col6.sm-col8.ss-col12
        .bleed-right--2
          img(src="https://cdn.buttercms.com/Fh4eEEZyQUCi3DdtCGTU")
          
  section
    h3.text--center: a(href="//monkybox.com", target="_blank") Visit Monkybox
