doctype
html
	head
		if title
			title!= `${title} &mdash; Aron Høyer`
		else
			title Aron Høyer

		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="Content-Type" content="text/html; charset=ISO-8859-1")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		meta(property="og:site_name" content="Aron Høyer")

		if currentPath.includes('project/')
			meta(name="description", content=project.summary)
			meta(property="og:title", content=`Aron Høyer &mdash; ${project.seo_title}`)
			meta(property="og:description", content=project.summary)
			meta(property="og:image", content=project.feature_image)

		else if currentPath.includes('article/')
			meta(name="description", content=article.lead)
			meta(property="og:title", content=`Aron Høyer &mdash; ${article.title}`)
			meta(property="og:description", content=article.lead)
			meta(property="og:image", content=article.feature_image)

		else
			meta(name="description", content="Aron Høyer is a full process designer who partners with inspiring and creative ideas.")
			meta(property="og:title", content="Aron Høyer")
			meta(property="og:description", content="Aron Høyer is a full process designer who partners with inspiring and creative ideas.")
			meta(property="og:image", content="")

		link(rel="stylesheet", href="/main.css")

	body
		header
			.wrap.pt30
				block header
					.grid
						b: a(href="/") Aron Høyer
						
						.col4.sm-col6
							nav.site-nav.grid.ss-g--col.text--right
								each link, i in nav
									if i === nav.length -1
										a(href=link.slug, class=currentPath.includes(link.title.toLowerCase()) ? 'nav__link nav__link--active' : 'nav__link')= link.title
									else
										a(href=link.slug, class=currentPath.includes(link.title.toLowerCase()) ? 'nav__link nav__link--active' : 'nav__link').sm-mb10= link.title

		block body
			main
				.wrap
					block content

		footer
			.footer-content.wrap
				block footer
					.grid.g--wrap
						.col6.ss-col12.ss-mb30
							p.text!= `&copy; Aron Høyer ${moment().year()}. All rights reserved.`
							p: a(href="mailto: aron@hoyer.com") aron@hoyer.com
							p.text Aron loves #[a(href="//buttercms.com", target="_blank") Butter].
						
						.col4.ss-col12
							nav.grid
								ul.col6
									each link in nav
										li: p: a(href=link.slug)= link.title
								ul.col6
									each link in social
										li: p: a(href=link.slug, target="_blank")= link.title

		script(type="text/javascript", src="/main.js")