extends main

block content
	section.project-hero
		.grid.g--wrap
			.col2.sm-col12.sm-mb30
				h1.title--big.project__title.mt120.sm-mt0= project.seo_title

			.col10.sm-col12
				figure
					img(src=project.feature_image, alt=project.seo_title)
	
	.wrap--narrow
		section
			.grid.g--wrap.ss-g--col-reverse
				.col6.sm-col6.ss-col12
					dl
						each row in project.data_table
							.grid.mb10
								dt.col4
									p.text!= row.title
								dd.col8
									p!= row.content

				.col6.sm-col6.ss-col12.ss-mb30
					p.text!= project.summary
		
		block projectBody
