extends layouts/main

block content
	section
		.grid.g--wrap.g--a-base
			.col6.ss-col12
				h1.title--big= title

			.col6.ss-col12
				nav.sub-nav.ss-mt30
					each link in subNav
						a(href=link.slug, class=currentPath.endsWith(link.slug) ? 'nav__link nav__link--active' : 'nav__link')= link.title

		.grid.g--row-reverse
			.col6.ss-col10
				.mt30!= content.body

	if content.gallery
		section
			.gallery
				ul.gallery__slides
					each item in content.gallery
						li.gallery_slide: img(src=item.image_source, alt=item.image_title)