extends layouts/main

block body
	article
		.article__hero.text--center
			h1.mb30= article.title

			figure.article__feat-img.mb60.ss-mb30
				img(src=article.feature_image, alt=article.title)

		.article__entry.mb60.ss-mb30!= article.body

		p.text: a(href="//medium.com/@aronhoyer", target="_blank") Follow me on Medium