extends layouts/main

block content
	section
		.grid.g--wrap.g--a-base
			.col6.ss-col12.ss-mb30
				h1.title--big= title

			.col6.ss-col10
				p.text From time to time I like to write. Most of the time it’s benign stuff like a rant about how little space I have on my MacBook.

	section
		.grid.g--wrap
			each article in articles
				.project.col6.sm-col12.grid
					.col2.sm-col4.ss-col2
						h1.project__title.mt60.sm-mt30= article.title
					.col10.sm-col8.ss-col10
						figure.project__image.mb10
							img(src=article.feature_image, alt=article.title)
						.project__summary
							p.text.mb20!= article.lead
							p.text: a(href=article.link, title=article.title, target="_blank") Read article