extends layouts/main

block content
	if success === undefined
		section
			.grid.g--wrap.g--a-base.sm-g--row-reverse
				.col6.sm-col12.sm-mb30
					h1.title--big= title

				.col6.sm-col8.ss-col10.mb30
					p.text Whatever it might be, feel free to reach out. Pondering, project, hire, or just saying “hello”, it can all be done below.

			.grid.g--row-reverse
				.col6.sm-col8.ss-col12
					form(method="POST" action="/contact/send").contact-form.grid.g--col
						input(type="text", name="name" placeholder="Name", required)
						input(type="email", name="email" placeholder="Email", required)
						textarea(name="message", placeholder="What's up?", required)
						.g--as-end
							button(type="submit").btn.btn--accent Send it
	
	else if success === true
		section
			.grid.g--wrap.g--a-base.sm-g--row-reverse
				.col6.sm-col12.sm-mb30
					h1.title--big Thanks!

				.col6.sm-col8.ss-col10.mb30
					p.text Thank you for reaching out! Your message will enter my mailbox soon, after which I will respond ASAP.

	else
		section
			.grid.g--wrap.g--a-base.sm-g--row-reverse
				.col6.sm-col12.sm-mb30
					h1.title--big= title

				.col6.sm-col8.ss-col10.mb30
					h2 Oh snap! Something went wrong.
					p.text Sorry about that. Maybe I'm not such a great coder afterall.
					p.text Please try again, or just send me a mail directly at #[a(href="mailto:aron@hoyer.com") aron@hoyer.com].

			.grid.g--row-reverse
				.col6.sm-col8.ss-col12
					form(method="POST" action="/contact/send").contact-form.grid.g--col
						input(type="text", name="name" placeholder="Name")
						input(type="email", name="email" placeholder="Email")
						textarea(name="message", placeholder="What's up?")
						.g--as-end
							button(type="submit").btn.btn--accent Send it