extends layouts/main

block content
	section
		.hero.grid
			.col9.sm-col10
				.hero__image(style=`background-image:url(${randProj.fields.feature_image});`)

			.col3.sm-col2.grid.g--col
				h1.hero__title.title--big.mt120.sm-mt30= randProj.fields.seo_title
				
				p.hero__read-more.text.mb60.sm-mb10: a(href=`/project/${randProj.slug}`) Read case

	section
		h1.title--big I'm a full #[a(href="http://www.travandlos.com/26", target="_blank") process designer] who partners with #[a(href="/projects/clients") inspiring and creative ideas]

	section
		.grid.g--j-left.g--a-top.g--wrap
			each project in featProjects.slice(0,4)
				.project.col6.sm-col12.grid
					.col2.sm-col4.ss-col2
						h1.project__title.mt60.sm-mt30= project.fields.seo_title
					.col10.sm-col8.ss-col10
						figure.project__image.mb10
							img(src=project.fields.work_thumb, alt=project.fields.seo_title)
						.project__summary
							p.text.mb20!= project.fields.summary
							if !project.fields.external_link.length > 0
								p.text: a(href=`/project/${project.slug}`, title=project.fields.seo_title) Read case
							else
								each link in project.fields.external_link
									p: a(href=link.source, title=link.label, target="_blank")= link.label

	section
		p.muted.mb30.ss-mb10 Articles from Medium
		.article-preview.grid
			each article in articles.slice(0,1)
				.col4.ss-col2
					h1.mt60.sm-mt30.article-preview__title= article.title
					.article-preview__intro.mt10.sm-hide
						p.text.mb20= article.lead
						p.text: a(href=article.link, title=article.title, target="_blank") Read article

				.col8.ss-col10
					figure.sm-mb10
						img(src=article.feature_image, alt=article.title)
					
					.article-preview__intro.sm-show
						p.text.mb10= article.lead
						p.text: a(href=article.link, title=article.title, target="_blank") Read article

		.grid.g--a-base.g--wrap.mt60.sm-mt30
			.col4.ss-col12
				p.ss-mb10.muted More articles

			.col8.ss-col10
				each article in articles.slice(1,5)
					p.text: a(href=article.link, title=article.title, target="_blank")= article.title