extends layouts/main

block content
	section
		.grid.g--wrap.g--a-base
			.col6.ss-col12
				h1.title--big= title

			.col6.ss-col12
				nav.sub-nav.ss-mt30
					each link in subNav
						a(href=link.slug, class=currentPath.endsWith(link.slug) ? 'nav__link nav__link--active' : 'nav__link')= link.title

	section
		.grid.g--wrap.g--a-top
			each project in projects
				if !project.fields.personal && currentPath.includes('clients')
					.project.col6.sm-col12.grid
						.col2.sm-col4.ss-col2
							h1.project__title.mt60.sm-mt30= project.fields.seo_title
						.col10.sm-col8.ss-col10
							figure.project__image.mb10
								img(src=project.fields.work_thumb, alt=project.fields.seo_title)
							.project__summary
								p.text.mb20!= project.fields.summary
								p.text: a(href=`/project/${project.slug}`, title=project.fields.seo_title) Read case

				else if project.fields.personal && currentPath.includes('personal')
					.project.col6.sm-col12.grid
						.col2.sm-col4.ss-col2
							h1.project__title.mt60.sm-mt30= project.fields.seo_title
						.col10.sm-col8.ss-col10
							figure.project__image.mb10
								img(src=project.fields.work_thumb, alt=project.fields.seo_title)
							.project__summary
								p.text.mb20!= project.fields.summary
								if project.fields.external_link.length > 0
									each link in project.fields.external_link
										p: a(href=link.source, title=link.label, target="_blank")= link.label

								else
									p: a(href=`/project/${project.slug}`, title=project.title) Read case