article
	width: rem(560)
	margin: rem(120) auto
	font-size: rem(20)

	h1
		font-size: 3em

	h4
		font-size: unquote(30/20+"em")

	p
		@extend .text

	p + h4
		margin-top: rem(30)

	p + p
		margin-top: rem(15)

	p + figure
		margin-top: rem(30)

	figure
		margin:
			top: rem(30)
			bottom: rem(30)

	figure + h4
		margin-top: rem(30)

	figcaption
		font-size: rem(14)
		color: transparentize(black, .6)
		text-align: center
		margin-top: rem(5)

	.img--float-left
		width: calc(50% - #{rem(15)} + #{rem($colWidth + $gutterWidth)})
		margin:
			left: rem(-($colWidth + $gutterWidth))
			right: rem(30)
		display: inline-block
		float: left

	.img--float-right
		width: calc(50% - #{rem(15)} + #{rem($colWidth + $gutterWidth)})
		margin:
			right: rem(-($colWidth + $gutterWidth))
			left: rem(30)
		display: inline-block
		float: right

.article__hero
	width: calc(100% + #{rem(($colWidth+$gutterWidth)*2)})
	margin-left: rem(-($colWidth+$gutterWidth))