::selection
	background: black
	color: white

body
	margin: 0
	padding: 0

.wrap, .wrap--narrow
	margin: 0 auto

.wrap
	max-width: 90%
	width: rem($gridWidth)

.wrap--narrow
	width: percentage(1280/1920)
	+bp-medium
		width: 100%

section
	margin: rem(120) 0
	+bp-small
		margin: rem(60) 0

figure
	margin: 0

img
	display: block
	width: 100%
	opacity: .9

ul
	padding: 0
	margin: 0
	list-style: none

dl
	margin: 0

form
	width: 100%

	input, textarea
		border: 1px solid transparentize(black, .75)
		padding: rem(7) rem(8)
		font:
			size: rem($base)
			family: 'Museo Sans'
			weight: 300
		width: 100%
		margin-bottom: rem(15)
		box-sizing: border-box

		&:focus
			outline: none
			border: 1px solid transparentize(black, .5)

		&::placeholder
			color: transparentize(black, .5)

	textarea
		resize: none

.btn
	appearance: none
	border: none
	padding: rem(7) rem(14)
	font:
		size: rem($base)
		family: 'Museo Sans'
		weight: 300

.btn--accent
	background: black
	color: white

.sm-show
	display: none

+bp-medium
	.sm-hide
		display: none

	.sm-show
		display: block
