@font-face
	font:
		family: 'Museo Sans'
		weight: 300
		style: normal
		dispaly: swap
	src: url(../fonts/Museo-Sans_300.woff) format('woff')

@font-face
	font:
		family: 'Museo Sans'
		weight: 300
		style: italic
		dispaly: swap
	src: url(../fonts/Museo-Sans_300-italic.woff) format('woff')

@font-face
	font:
		family: 'Museo Sans'
		weight: 700
		style: normal
		dispaly: swap
	src: url(../fonts/Museo-Sans_700.woff) format('woff')

html, body
	font:
		family: 'Museo Sans'
		weight: 300
		size: unquote($base+"px")

p
	line-height: 1.618

h1, h2, h3, h4, h5, h6, p
	margin: 0

h1.title--big
	font-size: rem($base*3)
	+bp-small
		font-size: rem($base*2)

$tags: 1, 2, 3, 4
$maxSize: $base*2
$const: ($maxSize - $base)/length($tags)

@for $i from length($tags)*-1 through -1
	h#{nth($tags, $i)}
		font-size: rem($base + $const * abs($i))

h1 + p,
h2 + p,
h3 + p,
h4 + p,
p + p
	margin-top: rem(10)

p + h2
	margin-top: rem(30)

p + h3
	margin-top: rem(20)

p + h4
	margin-top: rem(15)

a
	color: black
	display: inline-block
	transition: color ease-in-out .15s

blockquote
	margin: 0

	h2
		position: relative

		&::before, &::after
			position: absolute

		&::before
			content: '“'
			left: -.75rem

		&::after
			content: '”'

.text
	color: transparentize(black, .4)

.text--right
	text-align: right

.text--center
	text-align: center

.muted
	color: transparentize(black, .6)

.project__title,
.article-preview__title
	position: relative
	margin-right: -500%
	z-index: 1
	+bp-medium
		margin-right: -200%
	+bp-small
		margin-right: -500%
		font-size: rem($base*1.5)

	.project:nth-of-type(even) &,
	.article:nth-of-type(even) &
		direction: rtl
		margin-right: 0
		margin-left: -500%
		+bp-medium
			margin-left: -200%
		+bp-small
			margin-left: -500%

	.article-preview &
		margin-right: -100%
		+bp-medium
			margin-right: -200%
		+bp-small
			margin-right: -500%
			font-size: rem($base*1.5)

+bp-medium
	.sm-text--right
		text-align: right

