.grid
	display: flex
	justify-content: space-between

.g--wrap
	flex-wrap: wrap

.g--row-reverse
	flex-direction: row-reverse

.g--col
	flex-direction: column

.g--j-left
	justify-content: flex-start

.g--j-center
	justify-content: center

.g--a-base
	align-items: baseline

.g--a-top
	align-items: flex-start

.g--a-center
	align-items: center

.g--as-end
	align-self: flex-end

@for $i from 1 through 12
	.col#{$i}
		width: percentage(($colWidth*$i+$gutterWidth*($i - 1))/$gridWidth)

	.bleed-left--#{$i}
		margin-left: rem(-($colWidth*$i+$gutterWidth*($i - 1)))

	.bleed-right--#{$i}
		margin-right: rem(-($colWidth*$i+$gutterWidth*($i - 1)))

@for $i from 1 through 12
	+bp-medium
		.sm-col#{$i}
			width: percentage(($colWidth*$i+$gutterWidth*($i - 1))/$gridWidth)

		.bleed-left--#{$i}
			margin-left: 0

		.bleed-right--#{$i}
			margin-right: 0

@for $i from 1 through 12
	+bp-small
		.ss-col#{$i}
			width: percentage(($colWidth*$i+$gutterWidth*($i - 1))/$gridWidth)

		.bleed-left--#{$i}
			margin-left: 0

+bp-medium
	.sm-g--row-reverse
		flex-direction: row-reverse

	.sm-g--col-reverse
		flex-direction: column-reverse

	.sm-g--col
		flex-direction: column

+bp-small
	.ss-g--row-reverse
		flex-direction: row-reverse

	.ss-g--col-reverse
		flex-direction: column-reverse

	.ss-g--col
		flex-direction: column
