.hero__image
	min-height: rem(570)
	height: 70vh
	background:
		size: cover
		position: center center
	+bp-small
		min-height: 66vh
		height: 66vh
		margin-left: -10vw
		width: 115%

.hero__title, .hero__read-more
	position: relative
	margin-left: -50vw
	direction: rtl