$margins: 120, 60, 30, 20, 10, 0

@for $i from 1 through length($margins)
	.mt#{nth($margins, $i)}
		margin-top: rem(nth($margins, $i))

	.mb#{nth($margins, $i)}
		margin-bottom: rem(nth($margins, $i))

@for $i from 1 through length($margins)
	+bp-medium
		.sm-mt#{nth($margins, $i)}
			margin-top: rem(nth($margins, $i))

		.sm-mb#{nth($margins, $i)}
			margin-bottom: rem(nth($margins, $i))

@for $i from 1 through length($margins)
	+bp-small
		.ss-mt#{nth($margins, $i)}
			margin-top: rem(nth($margins, $i))
		
		.ss-mb#{nth($margins, $i)}
			margin-bottom: rem(nth($margins, $i))