header, .site-nav, .sub-nav
	a
		text-decoration: none

.nav__link
	color: transparentize(black, .4)

	&:hover
		color: transparentize(black, .5)

.nav__link--active
	color: black

	&:hover
		color: black

.sub-nav
	a
		margin-right: rem(30)

		&:last-of-type
			margin-right: 0