$paddings: 120, 60, 30, 20, 10

@for $i from 1 through length($paddings)
	.pt#{nth($paddings, $i)}
		padding-top: rem(nth($paddings, $i))

	+bp-medium
		.sm-pt#{nth($paddings, $i)}
			padding-top: rem(nth($paddings, $i))

	+bp-small
		.ss-pt#{nth($paddings, $i)}
			padding-top: rem(nth($paddings, $i))

	.pb#{nth($paddings, $i)}
		padding-bottom: rem(nth($paddings, $i))

	+bp-medium
		.sm-pb#{nth($paddings, $i)}
			padding-bottom: rem(nth($paddings, $i))

	+bp-small
		.ss-pb#{nth($paddings, $i)}
			padding-bottom: rem(nth($paddings, $i))