.project
	padding-right: percentage($gutterWidth / $gridWidth)
	+bp-small
		padding-right: 0

.project:nth-of-type(even)
	flex-direction: row-reverse
	padding-right: 0
	margin-top: rem(60)
	+bp-medium
		margin-top: 0
		margin-bottom: rem(30)

.project:nth-of-type(odd)
	margin-bottom: rem(60)
	+bp-medium
		margin-bottom: rem(30)

.project-hero .project__title
	+bp-medium
		margin:
			left: 0
			right: 0
