@charset "UTF-8";
::-moz-selection {
  background: black;
  color: white; }
::selection {
  background: black;
  color: white; }

body {
  margin: 0;
  padding: 0; }

.wrap, .wrap--narrow {
  margin: 0 auto; }

.wrap {
  max-width: 90%;
  width: 75.29412rem; }

.wrap--narrow {
  width: 66.66667%; }
  @media (max-width: 768px) {
    .wrap--narrow {
      width: 100%; } }

section {
  margin: 7.05882rem 0; }
  @media (max-width: 414px) {
    section {
      margin: 3.52941rem 0; } }

figure {
  margin: 0; }

img {
  display: block;
  width: 100%;
  opacity: .9; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

dl {
  margin: 0; }

form {
  width: 100%; }
  form input, form textarea {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.41176rem 0.47059rem;
    font-size: 1rem;
    font-family: 'Museo Sans';
    font-weight: 300;
    width: 100%;
    margin-bottom: 0.88235rem;
    box-sizing: border-box; }
    form input:focus, form textarea:focus {
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.5); }
    form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    form input::placeholder, form textarea::placeholder {
      color: rgba(0, 0, 0, 0.5); }
  form textarea {
    resize: none; }

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 0.41176rem 0.82353rem;
  font-size: 1rem;
  font-family: 'Museo Sans';
  font-weight: 300; }

.btn--accent {
  background: black;
  color: white; }

.sm-show {
  display: none; }

@media (max-width: 768px) {
  .sm-hide {
    display: none; }
  .sm-show {
    display: block; } }

@font-face {
  font-family: 'Museo Sans';
  font-weight: 300;
  font-style: normal;
  font-dispaly: swap;
  src: url(/fonts/Museo-Sans_300.woff) format("woff"); }

@font-face {
  font-family: 'Museo Sans';
  font-weight: 300;
  font-style: italic;
  font-dispaly: swap;
  src: url(/fonts/Museo-Sans_300-italic.woff) format("woff"); }

@font-face {
  font-family: 'Museo Sans';
  font-weight: 700;
  font-style: normal;
  font-dispaly: swap;
  src: url(/fonts/Museo-Sans_700.woff) format("woff"); }

html, body {
  font-family: 'Museo Sans';
  font-weight: 300;
  font-size: 17px; }

p {
  line-height: 1.618; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1.title--big {
  font-size: 3rem; }
  @media (max-width: 414px) {
    h1.title--big {
      font-size: 2rem; } }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h1 + p,
h2 + p,
h3 + p,
h4 + p,
p + p {
  margin-top: 0.58824rem; }

p + h2 {
  margin-top: 1.76471rem; }

p + h3 {
  margin-top: 1.17647rem; }

p + h4 {
  margin-top: 0.88235rem; }

a {
  color: black;
  display: inline-block;
  transition: color ease-in-out .15s; }

blockquote {
  margin: 0; }
  blockquote h2 {
    position: relative; }
    blockquote h2::before, blockquote h2::after {
      position: absolute; }
    blockquote h2::before {
      content: '\201C';
      left: -.75rem; }
    blockquote h2::after {
      content: '\201D'; }

.text, article p {
  color: rgba(0, 0, 0, 0.6); }

.text--right {
  text-align: right; }

.text--center {
  text-align: center; }

.muted {
  color: rgba(0, 0, 0, 0.4); }

.project__title,
.article-preview__title {
  position: relative;
  margin-right: -500%;
  z-index: 1; }
  @media (max-width: 768px) {
    .project__title,
    .article-preview__title {
      margin-right: -200%; } }
  @media (max-width: 414px) {
    .project__title,
    .article-preview__title {
      margin-right: -500%;
      font-size: 1.5rem; } }
  .project:nth-of-type(even) .project__title,
  .article:nth-of-type(even) .project__title, .project:nth-of-type(even)
  .article-preview__title,
  .article:nth-of-type(even)
  .article-preview__title {
    direction: rtl;
    margin-right: 0;
    margin-left: -500%; }
    @media (max-width: 768px) {
      .project:nth-of-type(even) .project__title,
      .article:nth-of-type(even) .project__title, .project:nth-of-type(even)
      .article-preview__title,
      .article:nth-of-type(even)
      .article-preview__title {
        margin-left: -200%; } }
    @media (max-width: 414px) {
      .project:nth-of-type(even) .project__title,
      .article:nth-of-type(even) .project__title, .project:nth-of-type(even)
      .article-preview__title,
      .article:nth-of-type(even)
      .article-preview__title {
        margin-left: -500%; } }
  .article-preview .project__title, .article-preview
  .article-preview__title {
    margin-right: -100%; }
    @media (max-width: 768px) {
      .article-preview .project__title, .article-preview
      .article-preview__title {
        margin-right: -200%; } }
    @media (max-width: 414px) {
      .article-preview .project__title, .article-preview
      .article-preview__title {
        margin-right: -500%;
        font-size: 1.5rem; } }

@media (max-width: 768px) {
  .sm-text--right {
    text-align: right; } }

.grid {
  display: flex;
  justify-content: space-between; }

.g--wrap {
  flex-wrap: wrap; }

.g--row-reverse {
  flex-direction: row-reverse; }

.g--col {
  flex-direction: column; }

.g--j-left {
  justify-content: flex-start; }

.g--j-center {
  justify-content: center; }

.g--a-base {
  align-items: baseline; }

.g--a-top {
  align-items: flex-start; }

.g--a-center {
  align-items: center; }

.g--as-end {
  align-self: flex-end; }

.col1 {
  width: 6.1849%; }

.bleed-left--1 {
  margin-left: -4.65686rem; }

.bleed-right--1 {
  margin-right: -4.65686rem; }

.col2 {
  width: 14.71354%; }

.bleed-left--2 {
  margin-left: -11.07843rem; }

.bleed-right--2 {
  margin-right: -11.07843rem; }

.col3 {
  width: 23.24219%; }

.bleed-left--3 {
  margin-left: -17.5rem; }

.bleed-right--3 {
  margin-right: -17.5rem; }

.col4 {
  width: 31.77083%; }

.bleed-left--4 {
  margin-left: -23.92157rem; }

.bleed-right--4 {
  margin-right: -23.92157rem; }

.col5 {
  width: 40.29948%; }

.bleed-left--5 {
  margin-left: -30.34314rem; }

.bleed-right--5 {
  margin-right: -30.34314rem; }

.col6 {
  width: 48.82812%; }

.bleed-left--6 {
  margin-left: -36.76471rem; }

.bleed-right--6 {
  margin-right: -36.76471rem; }

.col7 {
  width: 57.35677%; }

.bleed-left--7 {
  margin-left: -43.18627rem; }

.bleed-right--7 {
  margin-right: -43.18627rem; }

.col8 {
  width: 65.88542%; }

.bleed-left--8 {
  margin-left: -49.60784rem; }

.bleed-right--8 {
  margin-right: -49.60784rem; }

.col9 {
  width: 74.41406%; }

.bleed-left--9 {
  margin-left: -56.02941rem; }

.bleed-right--9 {
  margin-right: -56.02941rem; }

.col10 {
  width: 82.94271%; }

.bleed-left--10 {
  margin-left: -62.45098rem; }

.bleed-right--10 {
  margin-right: -62.45098rem; }

.col11 {
  width: 91.47135%; }

.bleed-left--11 {
  margin-left: -68.87255rem; }

.bleed-right--11 {
  margin-right: -68.87255rem; }

.col12 {
  width: 100%; }

.bleed-left--12 {
  margin-left: -75.29412rem; }

.bleed-right--12 {
  margin-right: -75.29412rem; }

@media (max-width: 768px) {
  .sm-col1 {
    width: 6.1849%; }
  .bleed-left--1 {
    margin-left: 0; }
  .bleed-right--1 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col2 {
    width: 14.71354%; }
  .bleed-left--2 {
    margin-left: 0; }
  .bleed-right--2 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col3 {
    width: 23.24219%; }
  .bleed-left--3 {
    margin-left: 0; }
  .bleed-right--3 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col4 {
    width: 31.77083%; }
  .bleed-left--4 {
    margin-left: 0; }
  .bleed-right--4 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col5 {
    width: 40.29948%; }
  .bleed-left--5 {
    margin-left: 0; }
  .bleed-right--5 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col6 {
    width: 48.82812%; }
  .bleed-left--6 {
    margin-left: 0; }
  .bleed-right--6 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col7 {
    width: 57.35677%; }
  .bleed-left--7 {
    margin-left: 0; }
  .bleed-right--7 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col8 {
    width: 65.88542%; }
  .bleed-left--8 {
    margin-left: 0; }
  .bleed-right--8 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col9 {
    width: 74.41406%; }
  .bleed-left--9 {
    margin-left: 0; }
  .bleed-right--9 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col10 {
    width: 82.94271%; }
  .bleed-left--10 {
    margin-left: 0; }
  .bleed-right--10 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col11 {
    width: 91.47135%; }
  .bleed-left--11 {
    margin-left: 0; }
  .bleed-right--11 {
    margin-right: 0; } }

@media (max-width: 768px) {
  .sm-col12 {
    width: 100%; }
  .bleed-left--12 {
    margin-left: 0; }
  .bleed-right--12 {
    margin-right: 0; } }

@media (max-width: 414px) {
  .ss-col1 {
    width: 6.1849%; }
  .bleed-left--1 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col2 {
    width: 14.71354%; }
  .bleed-left--2 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col3 {
    width: 23.24219%; }
  .bleed-left--3 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col4 {
    width: 31.77083%; }
  .bleed-left--4 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col5 {
    width: 40.29948%; }
  .bleed-left--5 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col6 {
    width: 48.82812%; }
  .bleed-left--6 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col7 {
    width: 57.35677%; }
  .bleed-left--7 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col8 {
    width: 65.88542%; }
  .bleed-left--8 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col9 {
    width: 74.41406%; }
  .bleed-left--9 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col10 {
    width: 82.94271%; }
  .bleed-left--10 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col11 {
    width: 91.47135%; }
  .bleed-left--11 {
    margin-left: 0; } }

@media (max-width: 414px) {
  .ss-col12 {
    width: 100%; }
  .bleed-left--12 {
    margin-left: 0; } }

@media (max-width: 768px) {
  .sm-g--row-reverse {
    flex-direction: row-reverse; }
  .sm-g--col-reverse {
    flex-direction: column-reverse; }
  .sm-g--col {
    flex-direction: column; } }

@media (max-width: 414px) {
  .ss-g--row-reverse {
    flex-direction: row-reverse; }
  .ss-g--col-reverse {
    flex-direction: column-reverse; }
  .ss-g--col {
    flex-direction: column; } }

.mt120 {
  margin-top: 7.05882rem; }

.mb120 {
  margin-bottom: 7.05882rem; }

.mt60 {
  margin-top: 3.52941rem; }

.mb60 {
  margin-bottom: 3.52941rem; }

.mt30 {
  margin-top: 1.76471rem; }

.mb30 {
  margin-bottom: 1.76471rem; }

.mt20 {
  margin-top: 1.17647rem; }

.mb20 {
  margin-bottom: 1.17647rem; }

.mt10 {
  margin-top: 0.58824rem; }

.mb10 {
  margin-bottom: 0.58824rem; }

.mt0 {
  margin-top: 0rem; }

.mb0 {
  margin-bottom: 0rem; }

@media (max-width: 768px) {
  .sm-mt120 {
    margin-top: 7.05882rem; }
  .sm-mb120 {
    margin-bottom: 7.05882rem; } }

@media (max-width: 768px) {
  .sm-mt60 {
    margin-top: 3.52941rem; }
  .sm-mb60 {
    margin-bottom: 3.52941rem; } }

@media (max-width: 768px) {
  .sm-mt30 {
    margin-top: 1.76471rem; }
  .sm-mb30 {
    margin-bottom: 1.76471rem; } }

@media (max-width: 768px) {
  .sm-mt20 {
    margin-top: 1.17647rem; }
  .sm-mb20 {
    margin-bottom: 1.17647rem; } }

@media (max-width: 768px) {
  .sm-mt10 {
    margin-top: 0.58824rem; }
  .sm-mb10 {
    margin-bottom: 0.58824rem; } }

@media (max-width: 768px) {
  .sm-mt0 {
    margin-top: 0rem; }
  .sm-mb0 {
    margin-bottom: 0rem; } }

@media (max-width: 414px) {
  .ss-mt120 {
    margin-top: 7.05882rem; }
  .ss-mb120 {
    margin-bottom: 7.05882rem; } }

@media (max-width: 414px) {
  .ss-mt60 {
    margin-top: 3.52941rem; }
  .ss-mb60 {
    margin-bottom: 3.52941rem; } }

@media (max-width: 414px) {
  .ss-mt30 {
    margin-top: 1.76471rem; }
  .ss-mb30 {
    margin-bottom: 1.76471rem; } }

@media (max-width: 414px) {
  .ss-mt20 {
    margin-top: 1.17647rem; }
  .ss-mb20 {
    margin-bottom: 1.17647rem; } }

@media (max-width: 414px) {
  .ss-mt10 {
    margin-top: 0.58824rem; }
  .ss-mb10 {
    margin-bottom: 0.58824rem; } }

@media (max-width: 414px) {
  .ss-mt0 {
    margin-top: 0rem; }
  .ss-mb0 {
    margin-bottom: 0rem; } }

.pt120 {
  padding-top: 7.05882rem; }

@media (max-width: 768px) {
  .sm-pt120 {
    padding-top: 7.05882rem; } }

@media (max-width: 414px) {
  .ss-pt120 {
    padding-top: 7.05882rem; } }

.pb120 {
  padding-bottom: 7.05882rem; }

@media (max-width: 768px) {
  .sm-pb120 {
    padding-bottom: 7.05882rem; } }

@media (max-width: 414px) {
  .ss-pb120 {
    padding-bottom: 7.05882rem; } }

.pt60 {
  padding-top: 3.52941rem; }

@media (max-width: 768px) {
  .sm-pt60 {
    padding-top: 3.52941rem; } }

@media (max-width: 414px) {
  .ss-pt60 {
    padding-top: 3.52941rem; } }

.pb60 {
  padding-bottom: 3.52941rem; }

@media (max-width: 768px) {
  .sm-pb60 {
    padding-bottom: 3.52941rem; } }

@media (max-width: 414px) {
  .ss-pb60 {
    padding-bottom: 3.52941rem; } }

.pt30 {
  padding-top: 1.76471rem; }

@media (max-width: 768px) {
  .sm-pt30 {
    padding-top: 1.76471rem; } }

@media (max-width: 414px) {
  .ss-pt30 {
    padding-top: 1.76471rem; } }

.pb30 {
  padding-bottom: 1.76471rem; }

@media (max-width: 768px) {
  .sm-pb30 {
    padding-bottom: 1.76471rem; } }

@media (max-width: 414px) {
  .ss-pb30 {
    padding-bottom: 1.76471rem; } }

.pt20 {
  padding-top: 1.17647rem; }

@media (max-width: 768px) {
  .sm-pt20 {
    padding-top: 1.17647rem; } }

@media (max-width: 414px) {
  .ss-pt20 {
    padding-top: 1.17647rem; } }

.pb20 {
  padding-bottom: 1.17647rem; }

@media (max-width: 768px) {
  .sm-pb20 {
    padding-bottom: 1.17647rem; } }

@media (max-width: 414px) {
  .ss-pb20 {
    padding-bottom: 1.17647rem; } }

.pt10 {
  padding-top: 0.58824rem; }

@media (max-width: 768px) {
  .sm-pt10 {
    padding-top: 0.58824rem; } }

@media (max-width: 414px) {
  .ss-pt10 {
    padding-top: 0.58824rem; } }

.pb10 {
  padding-bottom: 0.58824rem; }

@media (max-width: 768px) {
  .sm-pb10 {
    padding-bottom: 0.58824rem; } }

@media (max-width: 414px) {
  .ss-pb10 {
    padding-bottom: 0.58824rem; } }

header a, .site-nav a, .sub-nav a {
  text-decoration: none; }

.nav__link {
  color: rgba(0, 0, 0, 0.6); }
  .nav__link:hover {
    color: rgba(0, 0, 0, 0.5); }

.nav__link--active {
  color: black; }
  .nav__link--active:hover {
    color: black; }

.sub-nav a {
  margin-right: 1.76471rem; }
  .sub-nav a:last-of-type {
    margin-right: 0; }

.footer-content {
  padding: 1.76471rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .footer-content a {
    color: rgba(0, 0, 0, 0.6); }

.hero__image {
  min-height: 33.52941rem;
  height: 70vh;
  background-size: cover;
  background-position: center center; }
  @media (max-width: 414px) {
    .hero__image {
      min-height: 66vh;
      height: 66vh;
      margin-left: -10vw;
      width: 115%; } }

.hero__title, .hero__read-more {
  position: relative;
  margin-left: -50vw;
  direction: rtl; }

.project {
  padding-right: 2.34375%; }
  @media (max-width: 414px) {
    .project {
      padding-right: 0; } }

.project:nth-of-type(even) {
  flex-direction: row-reverse;
  padding-right: 0;
  margin-top: 3.52941rem; }
  @media (max-width: 768px) {
    .project:nth-of-type(even) {
      margin-top: 0;
      margin-bottom: 1.76471rem; } }

.project:nth-of-type(odd) {
  margin-bottom: 3.52941rem; }
  @media (max-width: 768px) {
    .project:nth-of-type(odd) {
      margin-bottom: 1.76471rem; } }

@media (max-width: 768px) {
  .project-hero .project__title {
    margin-left: 0;
    margin-right: 0; } }

article {
  width: 32.94118rem;
  margin: 7.05882rem auto;
  font-size: 1.17647rem; }
  article h1 {
    font-size: 3em; }
  article h4 {
    font-size: 1.5em; }
  article p + h4 {
    margin-top: 1.76471rem; }
  article p + p {
    margin-top: 0.88235rem; }
  article p + figure {
    margin-top: 1.76471rem; }
  article figure {
    margin-top: 1.76471rem;
    margin-bottom: 1.76471rem; }
  article figure + h4 {
    margin-top: 1.76471rem; }
  article figcaption {
    font-size: 0.82353rem;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 0.29412rem; }
  article .img--float-left {
    width: calc(50% - 0.88235rem + 6.42157rem);
    margin-left: -6.42157rem;
    margin-right: 1.76471rem;
    display: inline-block;
    float: left; }
  article .img--float-right {
    width: calc(50% - 0.88235rem + 6.42157rem);
    margin-right: -6.42157rem;
    margin-left: 1.76471rem;
    display: inline-block;
    float: right; }

.article__hero {
  width: calc(100% + 12.84314rem);
  margin-left: -6.42157rem; }

.contact-form textarea {
  height: 15rem; }
  @media (max-width: 414px) {
    .contact-form textarea {
      height: 11.17647rem; } }


/*# sourceMappingURL=main.css.map*/